*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(187, 209, 166);
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
}
h2{
    margin-left: 30px;
    margin-top: 50px;
    font-size: 35px;
}
p{
    margin-left: 50px;
    margin-top: 15px;
}

ul{
    margin-top: 20px;
    margin-left: 50px;

}
li{
     margin-top: 15px;

}

